# =========================
# Dependencies
# =========================
node_modules/
bower_components/

# =========================
# Build outputs
# =========================
dist/
release/
out/
build/

# Electron
*.exe
*.dmg
*.AppImage
*.snap
*.msi
*.blockmap
win-unpacked/

# =========================
# Env files (NUNCA versionar)
# =========================
.env
.env.*
.env.local
.env.*.local

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# OS generated
# =========================
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# =========================
# Editor / IDE
# =========================
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =========================
# Cache
# =========================
.cache/
.temp/
.tmp/

# =========================
# Electron / Native cache
# =========================
electron-builder/
.electron/

*.exe
*.asar

/release/
/dist_electron/
*.exe
*.asar
*.zip